<!-- ナビゲーション -->
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="nav-collapse collapse span11 offset1">
          <ul class="nav" href="#">
            <li><a class="brand" href="#">imadoco?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid centering">
  <div class="row-fluid">
    <div><%= @map_image_tag.html_safe %></div>
    <div>あなたの位置情報を取得できました。</div>
    <br>
    <div>最後に、相手に伝えるメッセージを入力しよう♪</div>
    <%= form_tag("/notification") do %>
      <input type="hidden" name="lat" value="<%= @lat %>">
      <input type="hidden" name="lng" value="<%= @lng %>">
      <input type="hidden" name="key" value="<%= @key %>">
      <input type="text" name="message" placeholder="メッセージをここに入力"  value="" style="width: 90%;">
      <input type="submit" value="居場所を教える">
    <% end %>
  </div>
</div>

  
